[submodule "dpf"]
	path = dpf
	url = https://github.com/pdesaulniers/DPF.git
[submodule "plugins/wolf-lfo/Libs/inih"]
	path = plugins/wolf-lfo/Libs/inih
	url = https://github.com/pdesaulniers/inih.git
[submodule "plugins/wolf-lfo/Common"]
	path = plugins/wolf-lfo/Common
	url = https://github.com/pdesaulniers/wolf-common.git
